/* Space out content a bit */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.container {
  margin-top: 30px;
}

/* Custom page footer */

.footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  /* color: #1B1B1B; */
  width: 100%;
  /* border-top: 1px solid #FFE627; */
  /* background: #FFD630; */
  margin-top: 10px;
}

.footer p {
  margin: 0;
  padding-bottom: 5px;
}

.jumbotron {
  padding: 1em!important;
}

.jumbotron h2 {
  margin-top: 0;
}

.jumbotron p {
  font-size: initial!important;
  font-weight: initial!important;
}

header {
  margin-bottom: .5em;
}

.player-controls {
  margin-bottom: 0px;
}

.player-controls .timer {
  background-color: #333;
  color: #aaa;
  border-radius: 5px;
  padding: 2px;
  float: right;
  margin-top: 4px;
}