/* Space out content a bit */

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  margin-top: 30px;
}

/* Custom page footer */

.footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  /* color: #1B1B1B; */
  width: 100%;
  /* border-top: 1px solid #FFE627; */
  /* background: #FFD630; */
}

.jumbotron {
  padding: 1em!important;
}

.jumbotron h2 {
  margin-top: 0;
}

.jumbotron p {
  font-size: initial!important;
  font-weight: initial!important;
}

header {
  margin-bottom: .5em;
}

ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.unstyled li {
  padding: .3em;
}